.main{
    display: flex;
    justify-content: space-between;
}

.Rside{
    height: 50rem;
    width: 21%;
    left: 0;
    flex-wrap: wrap;
}

.profile{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 550;
}

.profile > img{
   width: 5rem;
   height: 5rem;
   border-radius: 20rem;
}

.pro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 1.2rem;
    padding-left: 1rem;
}

.pro > div{
    font-size: 1.5rem;
    padding: 0 20px;
}

.Profiles{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
    padding: 5px;
}

.Profiles >img{
    border-radius: 20px;
    width: 30%;
}

.pross{
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 1.5rem;
    padding: 0 15px;
}

.Lside{
    height: 50rem;
    width: 21%;
    left: 0;
    flex-wrap: wrap;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts{
    font-size: 1.6rem;
    font-weight: 550;
    padding-left: 1rem;
}

.icons{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}

.chaticon{
    display: flex;
}

.profilee{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 550;
}

.profilee>img{
    height: 4rem;
    width: 4rem;
    padding: 2rem;
    border-radius: 4rem;
}

.Main{
    display: grid;
    width: 60%;
    height: 30rem;
    justify-content: center;
}

.addStory{
    display: flex;
    width: 150%;
    margin: 20px 0;
    color: white;
    font-size: 1.5rem;
    height: 20rem;
    justify-content: flex-start;
    padding-left: 5%;
}

.Story{
    width: 150px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    border-radius: .5rem;
    background-image: url('https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.message{
    display: grid;
    height: 25rem;
    width: 80%;
    margin-left: 5%;
}

.post{
    margin-top: 7rem;
    display: flex;
    width: 70rem;
    justify-content: flex-start;
    background-color: white;
    margin-left: 0;
}

.post > div{
    margin-left: 2px;
}

.post > img{
    height: 45px;
    border-radius: 50%;
    width: 45px;
    margin: 15px;
    padding-top: 9px;
}

input[type=mind]{
    width: 50%;
    margin: 15px 0;
    height: 4rem;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-left: 0;
    box-sizing: border-box;
    margin-top: 3rem;
}

.call{
    display: flex;
    align-items: center;
    margin-left: 0;
    height: 5rem;
    width: 70rem;
    background-color: white;
}

.ico{
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    font-size: 1rem;
}

.icone > div{
    font-size: 1.5rem;
}

.posted{
    display: grid;
    height: auto;
    width: 67rem;
    align-items: flex-start;
    background-color: white;
    padding: 1.8rem;
    margin-left: 0;
    margin-top: 29px;
}

.poster{
    display: flex;
    justify-content: space-between;
}

.contacts{
    font-size: 2rem;
}

.facebook{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 550;
}

.update{
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 20px;
}

.edit{
    margin: 12px;
}

.comment{
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

.like{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
}